:root {
    --color1: #673B77;
    --color2: #3B3B77;
    --color3: #8965AE;
    --color4: #FFF271;
    --color5: #656CAE;
    --color6: hsl(0, 0%, 10%);
    --color7: hsl(0, 0%, 99%);
    --bg-color: var(--color6); 
    --font-color: var(--color7);
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color5) var(--font-color);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--color7);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:  var(--color5);;
  }
html,
body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    /* user-select: none; */
    overflow-x: hidden;
}

#DocSection {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#HeaderPlace {
    width: 100%;
    height: 60px;
}

#Header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: var(--color5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-buttons {
    display: flex ;
}
#Header .logo {
margin: 0.825rem
;}

#Search {
    /* position: absolute; */
    width: 50px;
    height: 34px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    background-color: var(--color5);
    color: #8d8888;
cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 0 1.825rem;

}

#Toggler {
    /* position: absolute; */
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    color: var(--bg-color);
    cursor: pointer;
    margin: 0 1.025rem;

}

#SearchOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#SearchContainer {
    
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

#SearchBar {
    position: relative;
    top: 1rem;
    left: 5px;
    width: calc(100% - 112px);
    font-size: 22px;
    border-radius: 4px;
    border: solid 2px var(--color5);
    background-color: var(--bg-color);
    color: var(--font-color);
    outline: none;
    padding: 0.525rem;
    height: 24px;
}

#SearchClose {
    position: relative;
    margin-left: auto;
    top: 1rem;
    right: 15px;
    font-size: 18px;
    color: var(--color5);
    cursor: pointer;
}

#NoResults {
    margin-top: 100px;
    text-align: center;
}

#Results {
    margin-top: 100px;
    list-style: none;
    padding: 0;
    text-align: center;
}

#Result {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 200ms;
}

#Result:hover {
    opacity: 0.90;
}

#Docs {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3B3B77;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #fff;
  }
  #Docs li{
    display: block;
    padding: 8px;
    text-decoration: none;
  
  }

  

#Docs li:hover {
    opacity: 0.90;
}

#DocSection {
    max-width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}
#title p{
    font-weight: bold;
    font-size: 24px;
}

.hide {
    display: none;
}

::placeholder {
    color: var(--font-color);
    opacity: 0.89;
}

 :-ms-input-placeholder {
    color: var(--font-color);
}

 ::-ms-input-placeholder {
    color: var(--font-color);
}
/* media queries */

@media screen and (max-width: 700px) {
    #Docs {
        display: flex;
        flex-direction: row;
        width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      flex-wrap: wrap;
      break-inside: avoid;

    }
.nav-links{
    display: none;
}.nav-links.responsive{
    display: flex;
}

    #DocSection {
        max-width: 100%;
        overflow-y: scroll;
        margin-left: 0;
    }
    
    #Header, #Search,#Toggler{
        display: flex;
        position: static;
        flex-wrap: wrap;

    }
    #header{
        min-height: 100%;
    }
    #Docs #section {  
        display: flex;
        flex-wrap: wrap;

              flex-direction: row;
    }
    #Docs li{
break-inside: avoid;
font-size: 14px;

  }
  #title p{
    font-size: 18px;
  }
  #Docs li .responsive {
    display: block;
  }
    #HeaderPlace {
        width: 100%;
        max-height: 1800px;
        background-color: var(--color5);
    
    }
    .header-buttons {
        flex-wrap: wrap;
    }
  }
  .header-buttons {
margin-right: 10px;  
}
  .menu-btn{
    background-color: transparent;
  }

  
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#DocSection{
    overflow: hidden;
}
footer{
    bottom: 0;
    background-color: #FFF271;
}


@media screen and (min-width: 700px) {
    #DocSection,footer{
        overflow: hidden;
    margin-left:200px;
    }
    .menu-btn{
        display: none;
    }
}
.ourPic{
    margin-left: 2%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    justify-content: center;
    color: white;
}
.ourNames{
    color: white;
    margin-left: 2%;
}
.button {
        padding: .75rem ;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        font-family: Arial;
        text-decoration: none;
        font-size: 1%;}
    	.button::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(36, 28, 28);
            border-radius: 10rem;
            z-index: -2;
            color: #000;
        }
        .button::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color:#FFF;
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
            color: #000;
        }
        .button:hover {
            color: #000;
            
        }
.button:hover::before {
                width: 100%;
            }
#our{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}
.ourJob{
    color: rgba(87, 75, 75, 0.468);
    margin-left: 2%;
    font-size:xx-small;
}
